@import url('https://fonts.googleapis.com/css2?family=Reddit+Mono:wght@200..900&display=swap');
*{
padding: 0;
margin: 0;
}
body#corpo{
    background-image: url(images/Fazendo-falta.jpg);/* imagem de fundo*/
    height: 100vh;/* pega toda site completo*/
    display: flex;/* é um conteiner de comodando */
   justify-content: center; /* centralizar com display flex*/
    flex-direction: column; /* fica em coluna  */
    align-items: center; /* alinha todo o display*/
    color: #d6d6ea; /* cor branca na letra*/
    transition: all 1s ease; /* transição*/
    backdrop-filter: blur(10px); /* deixar em tudo em basado*/
    
}
img{
    width: 500px;/* tamanho da imagem*/
    height: 300px;/* tamanho da imagem*/
}
.principal-pai{
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    gap: 100px 100px;
}


.container-aplicativo {
    display: flex; /*dieixnado tudo centralizado e com cara de pp*/
    flex-direction:column;/* colocar em coluna*/
    align-items: center; /* centralizar todo display*/
    justify-content: center;
    padding: 20px;
   
    backdrop-filter: blur(20px);
}

.container-aplicativo > p{
    width: 500px;
    
}
button {
    background-color: inherit;
    color: inherit;
    border: none;
}

.music-container{
    display: flex; /* é um conteiner de comodando */
    flex-direction: column; /* ficar em coluna o display*/
    align-items: center;/* alinha no centro todo o display*/
}
#informacoes-faixa{
    display: flex; /*é um conteiner*/
    flex-direction: column;
    align-items: center;
    margin: 2em 0 1rem 0;
    font-size: 1.5em;
    font-family: "Reddit Mono", monospace;
    line-height: 50px;
}
#anterior, #proximo{
    font-size: 3em; /* aumentando os botao pra ficar no padrao */
    cursor: pointer;
}
#play-pause {
    font-size: 4em;
    cursor: pointer;
}
#container-botoes {
    /* os boteoes dentro da div*/
    width: 100%; /* pegou 100 do container*/
    display: flex; /* deixando flex*/
    justify-content: space-around; /* dando o espaçamento ideal*/
}